## Virtual environment.
venv

## Temporary ipynb checkpoint files.
.ipynb_checkpoints

## Pycache.
__pycache__

## Model weights.
*.pth
*.mar

## Logs.
**/logs
*.log

## Assets.
**/static/assets/*.png

## Environment variables (credentials).
.env
**/.env

## Node dependencies.
node_modules
**/node_modules

## Uploaded files.
bora-web/backend/uploads/*
!bora-web/backend/uploads/.gitkeep
